.groups ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.groups ul li {
  background: var(--dark-color);
  color: #fff;
  width: 15rem;
  height: 10rem;
  max-width: 90%;
  margin: 0.5rem auto;
}
